###############################################################################
#
# SERVICE GROUP DEFINITION
#
###############################################################################

define servicegroup{
	servicegroup_name	Remmosa
	alias			Remmosa
	members			Produccion,Remmosa.BackupAP,Produccion.BD,Remmosa.BackupDB
	members			Produccion,Remmosa.Produccion.ErrorBKP
	
	members			DBAccess01,Remmosa.DBAccess,Licencias,Remmosa.Licencias
	
	members			Produccion,Remmosa.Protheus,Produccion,Remmosa.Protheus.BI

	members			Pruebas,Remmosa.Protheus.Pruebas,Pruebas,Remmosa.Protheus.Desarrollo
	members			Pruebas,Remmosa.Protheus.Desarrollo.BI		
	
	members			Produccion,Remmosa.Produccion.P12
	members			Produccion,Remmosa.Produccion.BI.P12
	
	members			Pruebas,Remmosa.Desarrollo.P12,Pruebas,Remmosa.Pruebas.P12
	members			Pruebas,Remmosa.Desarrollo_BI.P12
				
	members			Produccion,Remmosa.RPO,Pruebas,Remmosa.Pruebas.RPO

	}

###############################################################################
#
# BACKUP DEFINITIONS
#
###############################################################################

define service{
	use				generic-service
	host_name			Produccion
	service_description		Remmosa.BackupAP
	check_command			check_backup!CheckFiles!path='\\cloudmxxprs\\backupap\\TFCDL6'!pattern='*TFCDL6*.tcab'!"filter=written > -1d and size gt 4194304b"!max-dir-depth=1!MinCrit=0
	check_interval			480
	check_period			24x7
	check_freshness			1
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		480
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}

define service{
	use				generic-service
	host_name			Produccion.BD
	service_description		Remmosa.BackupDB
	check_command			check_backup!CheckFiles!path='\\cloudmxxprs\\backupdb\\TFCDL6'!pattern='*TFCDL6*.tcdb'!"filter=written > -1d and size gt 4194304b"!max-dir-depth=1!MinCrit=0
	check_interval			480
	check_period			24x7
	check_freshness			1
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		480
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}

define service{
	use				generic-service
	host_name			Produccion
	service_description		Remmosa.Produccion.ErrorBKP
	check_command			check_nrpe!check_winfile2!'\\cloudmxxprs\\backupap\\TFCDL6\\err'!0!1
	check_interval			480
	check_period			24x7
	check_freshness			1
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		480
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}

###############################################################################
#
# DBACCESS DEFINITIONS
#
###############################################################################

define service{
	use				generic-service
	host_name			DBAccess01
	service_description		Remmosa.DBAccess
	check_command			check_nt!SERVICESTATE!-d SHOWALL -l DBACCESS_TFCDL6
	check_interval			3
	check_period			24x7
	check_freshness			1
	check_freshness			1
	freshness_threshold		900
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		10
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}

###############################################################################
#
# ENVIRONMENT CHECKS DEFINITIONS
#
###############################################################################

define service{
	use				generic-service
	host_name			Produccion
	service_description		Remmosa.Protheus
	check_command			check_protheus!1203!
	check_interval			10
	check_period			24x7
	check_freshness			1
	freshness_threshold		900
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		10
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}


define service{
	use				generic-service
	host_name			Produccion
	service_description		Remmosa.Protheus.BI
	check_command			check_protheus!1208!
	check_interval			10
	check_period			24x7
	check_freshness			1
	freshness_threshold		900
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		10
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}	



define service{
	use				generic-service
	host_name			Pruebas
	service_description		Remmosa.Protheus.Pruebas
	check_command			check_protheus!1285!
	check_interval			10
	check_period			24x7
	check_freshness			1
	freshness_threshold		900
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		10
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}	

define service{
	use				generic-service
	host_name			Pruebas
	service_description		Remmosa.Protheus.Desarrollo
	check_command			check_protheus!1282!
	check_interval			10
	check_period			24x7
	check_freshness			1
	freshness_threshold		900
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		10
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}	

define service{
	use				generic-service
	host_name			Pruebas
	service_description		Remmosa.Protheus.Desarrollo.BI
	check_command			check_protheus!1245!
	check_interval			10
	check_period			24x7
	check_freshness			1
	freshness_threshold		900
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		10
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}

###############################################################################
#
# ERP PRODUCTION SERVICES DEFINITIONS
#
###############################################################################

define service{
	use				generic-service
	host_name			Produccion
	service_description		Remmosa.Produccion.P12
	check_command			check_nt!SERVICESTATE!-d SHOWALL -l P12.23_TFCDL6_PRD_1203_REMMOSA
	check_interval			3
	check_period			24x7
	check_freshness			1
	freshness_threshold		900
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		10
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}

define service{
	use				generic-service
	host_name			Produccion
	service_description		Remmosa.Produccion.BI.P12
	check_command			check_nt!SERVICESTATE!-d SHOWALL -l P12.23_TFCDL6_PRD_1208_REMMOSA_BI
	check_interval			3
	check_period			24x7
	check_freshness			1
	freshness_threshold		900
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		10
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}	


###############################################################################
#
# ERP TEST SERVICES DEFINITIONS
#
###############################################################################

define service{
	use				generic-service
	host_name			Pruebas
	service_description		Remmosa.Desarrollo.P12
	check_command			check_nt!SERVICESTATE!-d SHOWALL -l P12.23_TFCDL6_DES_1286_REMMOSA
	check_interval			3
	check_period			24x7
	check_freshness			1
	freshness_threshold		900
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		10
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}
		
define service{
	use				generic-service
	host_name			Pruebas
	service_description		Remmosa.Pruebas.P12
	check_command			check_nt!SERVICESTATE!-d SHOWALL -l P12.23_TFCDL6_TST_1285_REMMOSA
	check_interval			3
	check_period			24x7
	check_freshness			1
	freshness_threshold		900
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		10
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}
		
define service{
	use				generic-service
	host_name			Pruebas
	service_description		Remmosa.Desarrollo_BI.P12
	check_command			check_nt!SERVICESTATE!-d SHOWALL -l P12.23_TFCDL6_DES_1245_REMMOSA_BI
	check_interval			3
	check_period			24x7
	check_freshness			1
	freshness_threshold		900
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		10
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}

###############################################################################
#
# LICENSE DEFINITIONS
#
###############################################################################

define service{
	use				generic-service
	host_name			Licencias
	service_description		Remmosa.Licencias
	check_command			check_nt!SERVICESTATE!-d SHOWALL -l TOTVSLicRemmosa
	check_interval			3
	check_period			24x7
	check_freshness			1
	freshness_threshold		900
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		10
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}

###############################################################################
#
# SMARTCLIENT HTML DEFINITIONS
#
###############################################################################

#define service{
#	use				generic-service
#	host_name			Produccion
#	service_description		Remmosa.SmartclientHTML
#	check_command			check_nt!SERVICESTATE!-d SHOWALL -l SMARTCLIENTHTML_TFCDL6
#	check_interval			3
#	check_period			24x7
#	check_freshness			1
#	freshness_threshold		900
#	notifications_enabled		1
#	notification_period		aspxprs
#	notification_interval		10
#	notification_options		w,u,c,r,f,s
#	register			1
#	contact_groups			admins
#	contacts			aponce
#	}

###############################################################################
#
# RPO FILES DEFINITIONS
#
###############################################################################

define service{
	use				generic-service
	host_name			Produccion
	service_description		Remmosa.RPO
	check_command			check_nrpe!check_winfile!'E:\\outsourcing\\clientes\\TFCDL6\\Protheus12\\apo'!1!2
	check_interval			480
	check_period			24x7
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		480
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}

define service{
	use				generic-service
	host_name			Pruebas
	service_description		Remmosa.Pruebas.RPO
	check_command			check_nrpe!check_winfile!'e:\\Outsourcing\\Clientes\\TFCDL6\\protheus12\\apo'!2!3
	check_interval			480
	check_period			24x7
	notifications_enabled		1
	notification_period		aspxprs
	notification_interval		480
	notification_options		w,u,c,r,f,s
	register			1
	contact_groups			admins
	contacts			aponce
	}


