###############################################################################
#
# SERVICE GROUP DEFINITION
#
###############################################################################


###############################################################################
#
# SERVICE GROUP DEFINITION
#
###############################################################################

define servicegroup{
	servicegroup_name	Accyflor
	alias				Accyflor

	members				Licencias,Accyflor.Licencias
	members				DBAccess01,Accyflor.DBAccess
	members                         Pruebas,Accyflor.Desarrollo.P12
	members				Pruebas,Accyflor.Protheus.Desarrollo
				
	}



###############################################################################
###############################################################################
#
# GENERIC SERVICE DEFINITIONS PRUEBAS
#
###############################################################################
###############################################################################

###############################################################################
###############################################################################
#
# GENERIC SERVICE DEFINITIONS PRODUCCION
#
###############################################################################
#########################
	
###############################################################################
#
# FLUIG PRODUCTION SERVICES DEFINITIONS
#
###############################################################################	
	
	
###############################################################################
#
# FLUIG PRUEBAS SERVICES DEFINITIONS
#
###############################################################################	
	

###############################################################################
#
# ERP PRODUCTION SERVICES DEFINITIONS
#
###############################################################################




###############################################################################
#
# ERP PRUEBAS SERVICES DEFINITIONS
#
###############################################################################


define service{
        use                             generic-service
        host_name                       Pruebas
        service_description             Accyflor.Desarrollo.P12
        check_command                   check_nt!SERVICESTATE!-d SHOWALL -l P12.2210_TFDFRD_DES_1254_ACCYFLOR
        check_interval                  3
        check_period                    24x7
        event_handler           	service_alwayson!restart_service
	check_freshness                 1
        freshness_threshold             900
        notifications_enabled           1
        notification_period             aspxprs
        notification_interval           10
        notification_options            w,u,c,r,f,s
        register                        1
        contact_groups                  admins
        contacts                        aponce
        }



###############################################################################
#
# RPO FILES DEFINITIONS
#
###############################################################################



define service{
        use                             generic-service
        host_name                       Pruebas
        service_description             Accyflor.Pruebas.RPO
        check_command                   check_nrpe!check_winfile!'E:\\Outsourcing\\Clientes\\TFDFRD\\protheus12\\apo'!5!6
        check_interval                  480
        check_period                    24x7
        notifications_enabled           1
        notification_period             aspxprs
        notification_interval           480
        notification_options            w,u,c,r,f,s
        register                        1
        contact_groups                  admins
        contacts                        aponce
        }
             

###############################################################################
#
# ENVIRONMENT CHECKS DEFINITIONS
#
###############################################################################



###############################################################################
#
# ENVIRONMENT CHECKS TST  DEFINITIONS
#
###############################################################################





define service{
        use                             generic-service
        host_name                       Pruebas
        service_description             Accyflor.Protheus.Desarrollo
        check_command                   check_protheus!1254!
        check_interval                  10
        check_period                    24x7
        check_freshness                 1
        freshness_threshold             900
        notifications_enabled           1
        notification_period             aspxprs
        notification_interval           10
        notification_options            w,u,c,r,f,s
        register                        1
        contact_groups                  admins
        contacts                        aponce
        }






###############################################################################
#
# LICENSE DEFINITIONS
#
###############################################################################


define service{
	use				generic-service
	host_name			Licencias
	service_description		Accyflor.Licencias
	check_command			check_nt!SERVICESTATE!-d SHOWALL -l TOTVSLicaccyflor
	check_interval			3
	check_period			24x7
	check_freshness			1
	freshness_threshold		900
	notifications_enabled	        1
	notification_period		aspxprs
	notification_interval	        10
	notification_options	        w,u,c,r,f,s
	register			1	
	contact_groups			admins
	contacts			aponce
	}




###############################################################################
#
# DBACCESS DEFINITIONS
#
###############################################################################

define service{
        use                             generic-service
        host_name                       DBAccess01
        service_description             Accyflor.DBAccess
        check_command                   check_nt!SERVICESTATE!-d SHOWALL -l DBACCESS_TFDFRD
        check_interval                  3
        check_period                    24x7
        check_freshness                 1
        freshness_threshold             900
        notifications_enabled           1
        notification_period             aspxprs
        notification_interval           10
        notification_options            w,u,c,r,f,s
        register                        1
        contact_groups                  admins
        contacts                        aponce
        }





###############################################################################
#
# BACKUP DEFINITIONS
#
###############################################################################





###############################################################################
#
# BACKUP DB DEFINITIONS
#
###############################################################################


###############################################################################
#
# BACKUP DB FLUIG PRODUCCION DEFINITIONS
#
###############################################################################



###############################################################################
#
#ERROR  BACKUP DEFINITIONS
#
###############################################################################





